body {
  background: url('../src/images/background-pattern-desktop.svg');
  background-repeat: no-repeat;
  background-position: top;
  background-color:  hsl(275, 100%, 97%);
  background-size: 100% auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
  font: inherit;
  font-family: "Work Sans";
}

/* img {
  background: url("../faq-accordion-main/faq-accordion-main/assets/images/icon-star.svg");
} */

